/* #draw {
  display: inline-block;
  width: 70%;
} */
body {
  text-align: center;
}

#greeting {
  top: 10%;
  right: 10%;
}

.setting-container {
  width: 25%;
  display: inline-block;
}

#hello {
  position: fixed;
  top: 35%;
  left: 35%;
  height: 30vh;
  width: 30vw;
  border: none;
  background-color: rgba(255, 255, 255);
}
#good {
  list-style: none;
}

#good li {
  display: inline;
}

#blink_me {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#secret {
  display: none;
}
