/* #draw {
  display: inline-block;
  width: 70%;
} */

.setting-container {
  width: 25%;
  display: inline-block;
}

#hello {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;

  background-color: rgba(201, 76, 76, 0.1);
}
